[2015-11-18 23:01] eveliotc opened #1 "Add support for double tap drag to zoom"
Currently we use custom touch handling for zooming and snapping, we should use `ScaleGestureDetector` which has out of the box double tap to drag zooming.

[From Gestures](https://www.google.com/design/spec/patterns/gestures.html#gestures-touch-activities)

![double-tap-drag](https://cloud.githubusercontent.com/assets/400641/11257234/30908a8a-8e05-11e5-8212-af9efb806efa.png)

[2015-11-20 00:46] eveliotc opened #2 "Broken snapping when bitmap is smaller than viewport"

[2015-11-25 05:48] davidbeloosesky opened #5 "Question - Is it possible to load image from camera and not only from Gallery?"

[2015-11-25 08:03] lexer commented on #5
@davidbeloosesky

[code]

[2015-11-25 08:33] rohanmahale commented on #5
Hi @davidbeloosesky

I am trying to load an image into the cropview but it does not show up. I pass a string extra to my crop image activity.

I then try to load it into the cropview using the following

[code]

The value of the string on debugging is

[code]

Why does the image not show up? Am I using the api wrong or is it a bug?

[2015-11-25 11:19] eveliotc commented on #5
@davidbeloosesky as @lexer demonstrated you can only load Bitmaps from a model e.g. a File, Uri, String, etc. We don't have a camera view at the moment.

@rohanmahale there is no need for `Uri.fromFile` part just providing a `File` should suffice, also make sure you have read permission. Please create a separate issue if you still can't load your file.

[2015-11-25 11:19] #5 closed

[2015-11-25 11:27] rohanmahale opened #6 "Cannot load file into cropView"
Hi @davidbeloosesky , @eveliotc

I am trying to load an image into the cropview but it does not show up. I pass a string extra to my crop image activity.

I then try to load it into the cropview using the following

    @AfterViews
    void setupUI() {
        if (getIntent().getExtras() != null) {
            if (getIntent().getExtras().getString(KEY_IMAGE_FILE_PATH) != null) {
                cr

[2015-11-25 11:44] eveliotc commented on #6
@rohanmahale is PrismApp your own app? Or is a third-party app like Gallery? I'd start by making sure your app has read permission on that file.

If you do, to help us debug this please try loading that file on a regular `ImageView` using your Bitmap library of preference e.g. Picasso, Glide, etc.

[2015-11-25 12:00] rohanmahale commented on #6
Yup. I am using Glide. Prism is the name of my app.

[2015-11-25 12:13] eveliotc commented on #6
@rohanmahale cool, can you please try loading that file into a regular `ImageView` with Glide? Also I could take a look at this later today if you can provide me with that file and the version of Glide you are using

[2015-11-25 12:18] rohanmahale commented on #6
Yup..Done that. I can load images using glide both into regular image views as well as the crop view using Glide.with(...).load(...).into(...)
    Glide version 3.6.1.

[2015-11-25 13:18] rohanmahale commented on #6
The idea was to launch my own intent to select a picture and then move onto the cropping activity i.e passing the data(uri or path string) as an extra via an intent to the cropping activity. Is it not possible to do this right now? I'm sure using

[code]

works.

[2015-11-25 23:33] eveliotc commented on #6
@rohanmahale can you please send us a sample image for us to reproduce? evelio@lyft.com also what device are you using?

[2015-11-25 23:45] NicodeLee opened #7 "Want to t support more CropMode?"
Such as:circle,4_3 , 3_4 , 16_9.

[2015-11-26 00:22] eveliotc commented on #7
Any ratio is already supported, all you have to do is specify `cropviewViewportHeightRatio` in your layout as follows:

##### 16_9 = 9/16 = `cropviewViewportHeightRatio="0.5625"`

<img alt="16_9" width="300px" src="https://cloud.githubusercontent.com/assets/400641/11412336/739d74c4-9390-11e5-8c68-aeecbbc7cd14.png" />

##### 4_3 = 3/4 = `cropviewViewportHeightRatio="0.75"`

<img alt="4_3" width="30

[2015-11-26 15:41] rohanmahale commented on #6
@eveliotc . I am using a Xiaomi Redmi 2. I dont think it has anything to do with the image.

Ok this is what I was trying to do. In my current activity I launch my own intent to pick an image either from the Gallery/Google Photos. On Picking that image I was getting the Uri which I would convert to a file path and pass to my CropImageActivity as an extra.  In CropImageActivity I was using the

[co

[2015-11-26 20:45] lexer commented on #7
@NicodeLee We don't have plans for circle cropping. It's usually better to always to do square cropping and then do circle transformation only when you display image in ui. (Primary reason is that in different parts of the app you could display same image in square and circle format)

If you want to give user feeling that he crops circle just use circle transparent overlay on the top of crop view.

[2015-11-27 04:20] NicodeLee commented on #7
@lexer @eveliotc Thanks for your reply.

[2015-11-27 08:13] rohanmahale opened #8 "Support for rotation and crop + save callbacks(OnCroppingComplete? OnCropImageSaved?)"
Is it possible to have a rotate feature and a callback for once the image is cropped and saved?

I know this is primarily a cropping library but something like a rotate/mirror feature could add a lot of value. Thoughts?

[2015-11-27 08:14] rohanmahale opened #9 "Support for rotation"
Is it possible to have a rotate feature?

I know this is primarily a cropping library but something like a rotate/mirror feature could add a lot of value. Thoughts?

[2015-11-27 08:15] #8 closed

[2015-11-27 11:22] rohanmahale commented on #2
@eveliotc Can you please elaborate a little about this issue? I'm not sure what this means.

[2015-11-28 10:44] Modificator commented on #6
[code]

when load File to it, getWidth getHeight or getMeasured  , come back zero

[2015-11-29 20:43] rohanmahale opened #12 "Image does not load + selecting an image loop"
I tested my app on a Sony Ericsson Xperia S. It is using scissors to select images to crop before adding them.
I have used the selection as shown in the sample app.

    cropView.extensions().pickUsing (this,REQ_CODE)

This works perfectly well on other devices that I have tested it on - Xiaomi, Samsung s3, Galaxy S4.
However on the   Sony Ericsson Xperia S, when I select an image to crop, many ti

[2015-11-30 00:52] juliusspencer commented on #6
I have the same problem, if trying to use pickUsing(), the image loads. If not it will not load. If I set the view to ImageView it loads.

[2015-11-30 02:19] juliusspencer commented on #6
Ok I solved this by using a ViewTreeObserver combined with this commit:
https://github.com/lyft/scissors/pull/11/files

[2015-11-30 02:29] rohanmahale commented on #6
@juliusspencer . What was the purpose of the ViewTreeObserver? Could you elaborate? Also I'm guessing you've downloaded and added the library project separately and not just using it as a gradle
dependency.

[2015-11-30 02:41] juliusspencer commented on #6
Yes I have pulled it down and made the modifications as per the pull request, then deployed to my own Synology server.

I used the ViewTreeObserver because Picasso (in my case) didn't seem to end up loading the image into the CropView. As soon as I used the ViewTreeObserver to wait for things to load it loaded the Image from the intent. I've been passing the Uri through as a Parcelable.

Hope that

[2015-11-30 02:49] rohanmahale commented on #6
@juliusspencer Yup that definitely helps. Thanks! Could you show me the snippet of the ViewTreeoObserver portion . Do you  load the image into the cropView in the onGlobalLayout callback(OnGlobalLayoutListener)?

[2015-11-30 03:07] juliusspencer commented on #6
Yes that's correct:

[code]

[2015-11-30 04:33] #7 closed

[2015-11-30 15:03] Odaym opened #13 "Guidelines over the image"
It would be nice if you could add some guidelines over the image or anything that would offer the familiar look of an image-cropping screen so that the user will instantly understand that this is where cropping happens, not just to read the activity title to know they now can crop

Does that make sense?

[2015-11-30 19:10] eveliotc commented on #13
@Odaym do you mean having a grid like the camera?

![device-2015-11-30-110835](https://cloud.githubusercontent.com/assets/400641/11481555/f05d5d42-9752-11e5-990f-f3a883346998.png)

[2015-11-30 20:02] eveliotc commented on #6
@rohanmahale @Modificator issue is to call `load` before first layout pass has happened, this could be due e.g. calling `load` from `Activity#onCreate` at such point both view and viewport dimensions are always 0, as @juliusspencer mentioned fix would be to defer `load` call until view has proper dimensions.

As it seems a common pitfall I'll add a fix and deploy a new version shortly.

[2015-11-30 20:05] rohanmahale commented on #6
Thanks @eveliotc . I use AndroidAnnotations. So I am currently loading it in a method annotated with @AfterViews.

[2015-11-30 21:28] rohanmahale opened #14 "Proguard Setup"
@eveliotc .

The debug version of my app works fine. I created a release build for my app, and on selecting a picture to be cropped the app crashes stating the following.

    java.lang.RuntimeException: Failure delivering result ResultInfo{who=null, request=10001, result=-1,     data=Intent { dat=content://media/external/images/media/9279 }} to activity    {com.prism.prismapp/com.prism.prismapp.C

[2015-11-30 21:53] Odaym commented on #13
Yep, that's the one! It would show something familiar so that the user could instantly recognize the purpose maybe

[2015-11-30 23:01] eveliotc commented on #6
@rohanmahale @Modificator @juliusspencer can you please use try #16 should be on latest snapshot:

[code]

Also you might have to add sonatype snapshots to your repository:

[code]

[2015-11-30 23:22] eveliotc commented on #14
@rohanmahale your BitmapLoader class are getting obfuscated, can you confirm this works for you?:

[code]

[2015-11-30 23:26] eveliotc commented on #2
@rohanmahale this issue only appears when you are using custom Bitmap loading (not using extensions) if Bitmap is smaller than viewport, touch manager snaps to left or right depending on drag movement, ideally bitmap would be drawn zoomed in to prevent this

[2015-11-30 23:30] eveliotc commented on #12
@rohanmahale first part (image not loading) might be related to #6 so please try snapshot and let me know if that fixes that part, as per

It might be due multiple `pickUsing` calls, can you please confirm `pickUsing` is only called once?

[2015-11-30 23:32] rohanmahale commented on #12
@eveliotc  pickUsing is called only once.

[2015-11-30 23:33] eveliotc commented on #13
@Odaym cool, @maksim88 sent #15 which attempts to solve a similar problem, we don't have such requirement however I'll try to aggregate both requirements and send a PR later this week

[2015-11-30 23:36] rohanmahale commented on #14
@eveliotc  Are these the only lines I need to add to proguard?

I tried it and I get an error

[code]

@eveliotc -  Any idea what I'm missing here?

EDIT :

I added this line in proguard which seems to have made it work

-keep class com.bumptech.glide.**{ *; }

[2015-11-30 23:44] eveliotc commented on #9
@rohanmahale as you might have noticed `crop` extension returns a `Future` so you can implement your callbacks/notification mechanisms on top of it, in example we use rxjava to wrap it and get notified when it completes (you can see how on https://github.com/lyft/scissors/blob/master/scissors-sample/src/main/java/com/lyft/android/scissorssample/MainActivity.java#L83-L89). Rotate was not part of ou

[2015-12-01 01:16] eveliotc commented on #14
@rohanmahale you also need `class` keyword before classname, I've updated snippet, please let me know

[2015-12-01 01:21] rohanmahale commented on #14
@eveliotc  Works perfectly now. Thanks! Could we have a proguard setup section in the README?

[2015-12-01 01:25] #14 closed

[2015-12-01 01:51] rohanmahale commented on #2
@eveliotc Thanks. Got it!

[2015-12-01 02:55] eveliotc commented on #14
@rohanmahale I added those rules on #17 once it's deployed build process should pick up scissors' proguard rules :)

[2015-12-01 02:59] rohanmahale commented on #14
:+1:

[2015-12-01 22:03] eveliotc commented on #6
@rohanmahale @Modificator @juliusspencer did you get the chance of trying out that patch/snapshot?

[2015-12-01 22:34] rohanmahale commented on #6
@eveliotc I just tried it out. It seems to be working fine.

[2015-12-02 00:38] #6 closed

[2015-12-02 00:39] eveliotc commented on #6
@rohanmahale thanks!

[2015-12-02 00:46] rohanmahale commented on #6
:+1:

[2015-12-03 14:48] qinjunli opened #20 "cannot set width height ratio dynamically from code"
I want to customize the crop ratio dynamically from code, but no support currently..

[2015-12-03 15:45] johnhiott commented on #1
If no one is currently tackling this, I will give it a go.

[2015-12-03 16:37] hlau-lyft commented on #20
Hi Junli

We didn't have the dynamic crop ratio requirement at that time but I think it's useful to have this feature. I will add this support and let you know when it's ready.

Regards

Helen

Sent from my iPhone

[2015-12-06 03:06] qinjunli commented on #20
Looking forward to .. ^_^

[2015-12-06 13:43] rohanmahale commented on #12
The load issue is fixed. The issue of the recurring popup still exists. I used a workaround and stopped using pickUsing(). I passed the file path(converting the Uri) via an extra to my cropping activity and directly load this using load(). Should I close this?

[2015-12-09 08:20] timkoers commented on #20
When do you expect to have it ready? I kind of need it :-)

If you can't figure it out, I might just be in the mood to make one :+1:

Just let me know.

[2015-12-09 16:50] hlau-lyft commented on #20
Hi Timkoers,

This request is not on top of our priority list.  Please go ahead.

Thanks,

Helen

##

_Helen Lau_
Android Engineer
650.302.8957 <+16503028957>
[image: Lyft] http://www.lyft.com/

On Wed, Dec 9, 2015 at 12:20 AM, timkoers notifications@github.com wrote:

[2015-12-11 11:03] rafaelekol commented on #2
have same issue, how we can fix this?

[2015-12-11 13:34] Cataalinn opened #21 "Sending to intent goes wrong"
After crop, if i send picture via intent like in sample with Picasso, most of the times does nothing because file is corrupted or other causes. I made an AsyncTask with weak reference to load bitmap. I set image to crop, first time resulted bitmap is null. Second time bitmap is decoded successful. Is decoding when he wants. I do something wrong or is some bug? I followed the sample at first time a

[2015-12-11 19:41] eveliotc commented on #21
@Cataalinn can you make sure you are loading file once flushing to disk has finished? it sounds like that operation has not completed when you start your other activity.

[In our sample we use rxjava to observe when flushing is completed, and then we start the other Activity](https://github.com/lyft/scissors/blob/master/scissors-sample/src/main/java/com/lyft/android/scissorssample/MainActivity.jav

[2015-12-12 18:25] catalin-florescu commented on #21
@eveliotc what do you mean once Flushing to disk has finish?

[2015-12-14 03:29] eveliotc commented on #21
@Cataalinn it means when writing all the bits that compose your image format into the file has completed. If you read the file before that it will likely be empty or partial (corrupted). For your information [here is how extensions write to file](https://github.com/lyft/scissors/blob/master/scissors/src/main/java/com/lyft/android/scissors/Utils.java#L70-L73).

[2016-01-04 22:28] cxzhang2 commented on #13
@eveliotc, is this feature still being considered?

[2016-01-11 21:42] cxzhang2 opened #23 "Add callback to image loading?"
As far as I know there is no way to provide a "loading finished" callback to the framework.  Assuming this is not a deliberate design decision, can we consider adding a method to the BitmapLoader interface that accepts a callback?

i.e. something to the effect of:

[code]

PicassoBitmapLoader / GlideBitmapLoader's implementations can then forward events generated from their respective libraries to

[2016-01-14 09:34] AmrMohammed89 commented on #9
@rohanmahale  @eveliotc  Is there any updates about rotation ?

[2016-01-14 12:02] suau opened #25 "Extensions more trouble than worth it"
I'd like to suggest to remove the use of extensions completely and focusing more on the core functionality. Here are some reasons:

1. Loading a bitmap using the loading libraries is already easy enough.
2. ***FillViewportTransformations are suboptimal as they always create bitmaps matching the viewport size:
   * for bitmaps smaller than the viewport they will create unnecessary large bitmaps in

[2016-01-20 17:31] rharter opened #26 "Crop View only configurable via XML"
The current `CropViewConfig` mechanism really cleans up attribute parsing, but also greatly limits the view since it can only be configured via xml.  Want to programmatically create a view with non-default options?  No, thank you.

I think we need standard getters/setters on the CropView object so that we can not only programmatically configure the view, but also alter the view at runtime (like al

[2016-01-20 22:24] liaohuqiu opened #29 "Add badge for android-gems.com"
Added badge for android-gems: http://www.android-gems.com/lib/lyft/scissors , it looks like this:

[![Android Gems](http://www.android-gems.com/badge/lyft/scissors.svg?branch=master)](http://www.android-gems.com/lib/lyft/scissors)

[2016-01-22 13:55] Warnier-zhang opened #30 "It doesn't work when trying to pick picture from camera."
Here is the related code:

 private void loadImageFromCamera() {
        Intent intent = new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
        Uri imageUri = Uri.fromFile(createExternalCacheFile("avatar_camera.png"));
        intent.putExtra(MediaStore.EXTRA_OUTPUT, imageUri);
        startActivityForResult(intent, PICK_IMAGE_FROM_CAMERA);
    }

protected void onActivityResult(int requestCode, int

[2016-01-22 15:29] rharter commented on #30
If you debug is the bitmap actually getting loaded?

Also, scissors takes care of loading images from Uris for you, so why load it yourself and not just do `mCropView.extension().load(Uri.fromFile(createExternalCacheFile("avatar_camera.png")))`?

[2016-01-23 03:44] Warnier-zhang commented on #30
I have also tried the code.
mCropView.extension().load(Uri.fromFile(createExternalCacheFile("avatar_camera.png")))

The CropView doesn't show the bitmap taken from the camera, either.

[2016-01-24 12:23] Warnier-zhang commented on #30
I fixed the problem.

I find that the method "CropView.extensions().crop().quality(87).format(PNG).into(file)" seems to need a period of time to store the image file. Does it?

[2016-01-24 17:46] rharter commented on #30
It's an asynchronous request, so it will take some time. Try running the sample.  Does that give you the same result you're looking for?  If so, then you can model your code directly off that.

[2016-01-25 23:50] virengujariya opened #32 "How can I get coordinates?"
I want cropped coordinates on original image. Is it possible with this library?

[2016-02-02 18:33] rharter opened #33 "Support cropping based on original image size"
Currently, the cropped image can be significantly degraded from the original since the cropping is based on the view's dimensions.  If the image is significantly larger than the view, the cropped image will be the size of the view, which isn't ideal, especially on budget devices.

Regardless of view size, I think the cropping should be based on the original image size, since the representation on

[2016-02-02 19:09] eveliotc commented on #33
Although having output to match view dimensions was intended (literally wysiwyg), agreed that is not ideal and this would be a great enhancement for third party developers, handling original source is a bit of a challenge and we should approach it using subsampling.

[2016-02-02 19:11] eveliotc commented on #32
@virengujariya there is no API for this as of now, adding `help wanted` to see if someone is interested on contributing this

[2016-02-12 21:46] nathanjones commented on #23
This would be really useful.

Downloading from Google Drive or another remote sources can take a while and you should really show some kind of loading indicator.

[2016-02-15 18:58] davidbeloo opened #34 "Image loaded from Galaxy S6 rotated with 90 degrees"
I tried it on Galaxy S6 running 5.1.1
And if I try to load an image, the image is rotated in 90 degrees even before cropping.

[2016-02-15 19:16] rharter commented on #34
@davidbeloo How are you loading the image?  Depending on your image loader, it may not be reading the EXIF data from the jpeg.  Try the Glide loader and see if that helps (Glide will read the EXIF rotation info, Picasso won't)

[2016-02-15 19:23] davidbeloo commented on #34
@rharter I just used your sample, I didn't change a single line.
Should I download Glide to my project, or  you have some build in way to use Glide?

[2016-02-15 19:35] eveliotc commented on #34
@davidbeloo sample uses Picasso by default, can you provide image so we can debug? either here or email at `evelio@lyft.com`

[2016-02-15 19:42] eveliotc commented on #25
@suau extensions are meant to be completely optional, they are lazily created, you can opt-out by simply not using them.

[2016-02-15 19:42] #25 closed

[2016-02-15 19:45] davidbeloo commented on #34
Ok, Thanks @rharter and @eveliotc
It's working with Glide as below:

In the onActivityResult of the `MainActivity` in the sample
I comment out:
`//cropView.extensions().load(galleryPictureUri)`
And use Glide as you said: `Glide.with(this).load(galleryPictureUri).diskCacheStrategy(DiskCacheStrategy.NONE).skipMemoryCache(true).into(cropView);`

And of course uncomment  `compile 'com.github.bumptech.

[2016-02-15 20:41] rharter commented on #34
@eveliotc Just a note, I've run into this with certain Samsung phones, and in the wild on others.  Not specifically with Scissors, it's just that they write the image bytes in a fixed orientation and use the EXIF orientation to specify the actual rotation.  Glide reads EXIF orientation from jpegs, Picasso does not.  That is noted here: https://github.com/square/picasso/issues/691#issuecomment-1274

[2016-02-15 20:43] rharter commented on #34
@davidbeloo Just a note about loading the image with glide, there is a glide image loader in Scissors that will allow you to load images with the same syntax as you would with Picasso.  If you simply add the glide dependency and remove the Picasso dependency, it will automatically choose the correct one, otherwise you can manually specify like this:

[code]

[2016-02-15 20:52] davidbeloo commented on #34
@rharter Thanks a lot for your help! :)

[2016-02-15 20:58] eveliotc commented on #9
Renaming this for rotation only, callbacks ticket is now #23

[2016-02-15 20:59] eveliotc commented on #34
@rharter correct, Picasso only relies on MediaStore to provide exif rotation, if such information is missing then we end up with issues like this, another reason to support #9

[2016-02-15 20:59] #34 closed

[2016-02-15 21:06] eveliotc commented on #26
We could offer a `config` API to return a builder of `CropViewConfig` such as:

[code]

Apply would create a new `CropViewConfig` based off current configuration and set the view and manager to new configuration

[2016-02-15 21:07] #21 closed

[2016-02-15 21:08] #30 closed

[2016-02-15 21:09] eveliotc commented on #20
Merging this into #26

[2016-02-15 21:09] #20 closed

[2016-02-15 21:12] rharter commented on #26
What's the benefit of doing it this non-standard way?  It seems like it's more trouble than it's worth, to me.

As an example of the kind of problem this introduces, it means that we can't use standard animations on the view.  For instance, in my current production use case, I have buttons that allow the user to choose from 5 standard aspect ratios, `1:1`, `5:4`, native, `3:2` and `16:9`.  When th

[2016-02-15 21:25] eveliotc commented on #26
Benefit would be having a immutable configuration and a similar API to `extensions`, it could be easily implemented at this point as it is how configuration from XML works, animations could be run on config changes, but I do agree that's not a common approach vs. simply having setters

[2016-02-15 22:14] rharter commented on #26
What do you mean by "animations could be run on config changes"?  I'm not sure how the fits the provided use case.  The problem is that the configuration is, by nature, not immutable.  I see no reason the developer can't change things like the viewport ratio at runtime, for instance, when the user selects a different aspect ratio from a button in the UI.

[2016-02-15 22:20] rharter commented on #26
Here's an example of the type of UX I'm talking about that an immutable config object doesn't support.

![ezgif com-resize](https://cloud.githubusercontent.com/assets/1296750/13061814/f33282a6-d3ff-11e5-983d-926f26d229f0.gif)

[2016-02-16 19:26] rharter commented on #9
My two cents: I think it makes sense for rotation to live in the loader, not the crop view.  For instance, a Picasso Transformation can be applied that will rotate the image as needed before the CropView receives it.

I think that is ideal since rotation within the crop view will complicate the actual cropping (mapping of coordinates) and isn't the aim of the library.

[2016-02-17 02:33] nathanjones commented on #9
@rharter I would agree that reading EXIF orientation data should probably be handled by the loader, a Picasso Transformation is perfect for that, but that's not necessarily the only time you would want to rotate an image.

In this issue, @rohanmahale wasn't entirely clear what his goal was, but rotation could mean having three buttons on an interface, one for rotate left, one for rotate right, and

[2016-02-17 03:09] rharter commented on #9
@nathanjones I think the use case you're describing could be easily accomplished by using the image loader's transformation apis.

For instance, you could have your Picasso loader configured like so

[code]

That being said, this doesn't allow for things like animating the rotation, so perhaps it does make sense to look at this if it's decided that it's in scope for the library. It might be as sim

[2016-02-17 04:06] nathanjones opened #36 "CONTRIBUTING.md has a broken link to the java code styles"
My guess is that your `java-code-styles` repo is private, but regardless this is a broken link:

https://github.com/lyft/java-code-styles

I would love to start contributing and wanted to respect existing convention, but the code style isn't publicly available.

[2016-02-17 04:10] eveliotc commented on #36
It got renamed and made private recently, please use whatever codestyle for now, will close this once it's resolved.

[2016-03-10 07:53] cuocsongquanhta opened #37 "Show grid view around cropped view"
Thank you for your effort. I have one question below.
How to show grid view around  cropped view?

[2016-03-16 10:06] thomasdola opened #38 "W/EGL_emulation: eglSurfaceAttrib not implemented, W/OpenGLRenderer: Failed to set EGL_SWAP_BEHAVIOR on surface 0xe0162fc0, error=EGL_SUCCESS"
`W/OpenGLRenderer: Failed to set EGL_SWAP_BEHAVIOR on surface 0xe0162fc0, error=EGL_SUCCESS`
Getting the above error anytime i try loading the image into the cropView.
any help on that please?

[2016-03-16 15:40] eveliotc commented on #38
@thomasdola can you please attach full log? also image if you have it, few more questions: device? android version? bitmap loader?

[2016-03-16 15:53] thomasdola commented on #38
`03-16 11:52:02.811 3527-3576/primr.apps.eurakacachet.com.primr W/EGL_emulation: eglSurfaceAttrib not implemented
03-16 11:52:02.811 3527-3576/primr.apps.eurakacachet.com.primr W/OpenGLRenderer: Failed to set EGL_SWAP_BEHAVIOR on surface 0xdfef51a0, error=EGL_SUCCESS
03-16 11:52:09.751 3527-3527/primr.apps.eurakacachet.com.primr I/BranchSDK: Branch Warning: You are using your test app's Branch Key

[2016-03-16 16:20] thomasdola commented on #38
it is not really an error because my app is still functioning, just that i cannot load the load the image to even say that am cropping it.
i get the warning after selecting the image that is to be cropped.
worth mentioning that it used to work before (pretty well), and all of a sudden stopped..
thanks...

[2016-03-16 18:18] eveliotc commented on #38
@thomasdola can you please provide the other info? I would like to take a look this after droidcon

[2016-03-16 19:19] thomasdola commented on #38
there is no any other info, the rest is just my own logging...

[2016-03-23 04:54] sonuraj9 opened #39 "How can I make cropView's corners round ?"

[2016-03-23 17:19] eveliotc commented on #39
This is not supported, PRs welcome :)

[2016-04-12 09:36] denghewenai opened #40 "cropviewViewportOverlayPadding"
No resource identifier found for attribute 'cropviewViewportOverlayPadding' in package .Why use android studio  to add dependency can not find this attribute.

[2016-04-12 09:56] denghewenai commented on #40
![qq 20160412175328](https://cloud.githubusercontent.com/assets/13479936/14456442/846a4db8-00d7-11e6-9b85-b48b63915c40.png)Your github codes seem no this line.

[2016-04-12 17:04] eveliotc commented on #40
@denghewenai can you please elaborate?

[2016-04-13 11:44] denghewenai commented on #40
Sorry, my english is not good.I Add the dependence on the library in Androidstudio,but can't use the attribute 'cropviewViewportOverlayPadding' .It throws an exception that 'No resource identifier found for attribute 'cropviewViewportOverlayPadding' in package .'.I go to look over the class 'CropViewConfig',but I didn't find the lines of code on screenshot.

[2016-04-13 15:43] mattkrebs opened #41 "pickUsing method does not support fragments"
when calling `cropView.extensions()
                .pickUsing(this, RequestCodes.PICK_IMAGE_FROM_GALLERY);` from with in a fragment returns the result to the parent activity and not back to the fragments `onActivityResult`  Is there a work around or is this something that can be added.   Thanks for the library, loving it so far.

[2016-04-13 17:40] eveliotc commented on #41
Thanks @mattkrebs we use [scoop](https://github.com/lyft/scoop) that's why we missed fragments ;) Adding support for fragments shouldn't be complicated, will add it for next release.

[2016-04-13 17:43] eveliotc commented on #40
No worries, non-native speaker here as well, the reason why isn't resolved on Android Studio is because it hasn't been deployed, Thanks @denghewenai will get to release it soon

[2016-04-14 05:45] denghewenai commented on #40
Thanks for your reply.

[2016-04-16 02:13] #41 closed

[2016-04-16 02:24] eveliotc commented on #40
Just released this on `1.1.0` please update. thanks!

[2016-04-16 02:24] #40 closed

[2016-04-16 02:26] eveliotc commented on #41
#43 Added support for framework Fragments, if you are using support-v4 Fragments, consider using something similar to this in your code base

https://github.com/lyft/scissors/pull/43/files#diff-048c760754d3c26822798af85fdb8d6aR39

I did not want to add a dependency on support-v4 at the moment, hoping to refactor extensions as separate artifacts in the future.

[2016-04-16 10:45] denghewenai commented on #40
OK,I have updated it.My problem has been solved.Thank you.

[2016-04-25 14:38] bcahlit commented on #38
I encountered this problem in the pull in the content provider.
But I made a mistake to pull. No permission to declare the content provider needed

[2016-05-10 17:39] marklar21 opened #47 "Your page is incorrect"
Front page code directs to set app:cropviewViewportHeightRatio="1" when that parameter no longer exists.  I think the correct entry is app:cropviewViewportRatio="1" to function correctly.  The crop aspect appears to be correct, is there any issues with setting this?

[2016-05-10 23:43] #47 closed

[2016-05-10 23:44] eveliotc commented on #47
Thanks for reporting this @marklar21 should be fixed now ;)

[2016-05-17 07:22] ikkyu0319 opened #49 "Hello ,Why not support fresco?"
thx

[2016-05-18 23:16] aprikat opened #50 "does scissors require READ_EXTERNAL_STORAGE permission?"
I've been seeing some crashes come in with the following error message:

`Permission Denial: reading com.android.providers.media.MediaProvider uri content://media/external/images/media/1037 from pid=23237, uid=10079 requires android.permission.READ_EXTERNAL_STORAGE, or grantUriPermission()`

This happens after I call `cropView.extensions().pickUsing(...)`, but I can't seem to reproduce it on any o

[2016-06-14 18:15] damien5314 commented on #39
I have a requirement to draw a circular overlay, while maintaining the cropped image as the bounding rectangle of that circle. This library is 98% of the way there for that use case, I just needed to add a method to fill in the corners of the bounded rectangle in the overlay.

https://github.com/damien5314/scissors/commit/6bc9a1c5695b99de0c1792185e28aafa2b64983e

I think this use case is pretty sp

[2016-06-15 18:32] malacavilla opened #52 "Viewport Ratio not correct when setImageURI is used."
I have code such as:

[code]

The only time the TouchManager's ```setViewport()``` code is called is when the we set the viewport. However at this state, the bitmap width/height is 0 (because the Bitmap isn't loaded yet), so we get an imageAspect of NaN, making our viewport non-existent.

[2016-06-15 18:51] malacavilla commented on #52
This is actually not an issue, see now that it is calculating after Bitmap is set.

[2016-06-15 18:51] #52 closed

[2016-06-21 18:40] liangricha opened #53 "Image not centered wrt viewport"
Hi! Thanks for open-sourcing this amazing library!

I noticed that if I have a thin viewport ratio, the underlying bitmp is not initially centered:
![device-2016-06-21-143417](https://cloud.githubusercontent.com/assets/6540299/16241885/c4537248-37bd-11e6-99a0-a21744e10584.gif)

I can get the centered image by doing `position.set (availableWidth / 2, availableHeight / 2)` here - https://github.com/

[2016-06-24 23:55] mhousser commented on #53
Wondering the same thing. Taking a picture with the camera, and then after the camera activity result, I'm doing:

`cropView.extensions().load(new File(newImageFilename));`

But the image is _bottom aligned_ to the base of the 'cropping square'...

[2016-06-25 00:23] eveliotc commented on #53
Thanks for reporting this @liangricha / @mhousser do you have a sample image I can use to reproduce this?

[2016-06-25 00:25] mhousser commented on #53
@eveliotc well actually I'm launching the camera, then upon camera ActivityResult, I'm running this line:

`cropView.extensions().load(new File(newImageFilename));`

So I don't have a sample image per se - but let me try and get a screenshot.

[2016-06-25 00:31] mhousser commented on #53
First of all, my XML is pretty standard:

[code]

Immediately after taking a picture with my camera and running this line:

cropView.extensions().load(new File(newImageFilename));

It's bottom-aligning to the crop square:

![screenshot_20160624-172556](https://cloud.githubusercontent.com/assets/832078/16353566/23d5811e-3a31-11e6-9cc4-e83891fb7e4b.png)

I would expect it to be vertically centred wi

[2016-06-25 00:35] mhousser commented on #53
@eveliotc and another alignment issue, this time when passing in a `Uri` (from the chooser gallery) of an image that is in landscape mode.

It's _right_ aligning, instead of being horizontally centered.

This time, it's via the line `cropView.extensions().load(galleryImageUri);`

Some screens. The gallery:

![screenshot_20160624-173204](https://cloud.githubusercontent.com/assets/832078/16353617/ea

[2016-06-25 00:37] mhousser commented on #53
@eveliotc maybe this is just a setup issue.

I'm using Picasso, and so Scissors should be using Picasso to do its loading.

Am I missing somewhere a specific call to tell Picasso and/or Scissors to load things in 'center inside' mode (with respect to the scissors viewport)?

Starting to feel like this is just a setup issue (I missed a call somewhere), instead of an actual bug...

[2016-06-25 03:29] rwliang commented on #53
For the above gif, I used http://earthzine.org/wp-content/uploads/2015/08/image2.jpeg and called `setViewportRatio(4.f)` in `onCreate(...)`

[2016-06-27 03:48] ycpbyht opened #54 "I find sth Question by use this With Glide，and setViewportRatio(1f) aslo has some Question"
Thanks for you share the Demo。

if i use
    <com.lyft.android.scissors.CropView
            android:id="@+id/clipfilter_img"
            android:layout_width="match_parent"
            android:layout_height="match_parent"
            app:cropviewViewportOverlayColor="#a0000000"
            />
 at layout XML ，the picture display like fit end on bottom cropline（picture bottom coincidence with app:c

[2016-06-30 01:59] ZoroYouth commented on #53
The same problem. If setViewportRatio()  before the image is loaded,it's bottom-aligning to the crop square.If setViewportRatio()  after the image is loaded,it will be center inside. so should i add a callback to image load?

[2016-06-30 02:01] mhousser commented on #53
@ZoroYouth are you saying there's currently an easy workaround? Just call `setViewportRatio(1.0f)` after Picasso finishes loading an image, for example?

[2016-06-30 02:09] ZoroYouth commented on #53
now i just wait 1 second to setViewportRatio. it solved my problem,but  the way is terrible.
        mCropView.postDelayed(new Runnable() {
            @Override
            public void run() {
                mCropView.setViewportRatio(mRatio);
            }
        },1000);

[2016-06-30 14:25] LonerganOnline opened #55 "Getting position and Current scale of the image"
Can the Crop view be used to re position an image in a container. the image is bigger than the CropView and i need to chose which area is visible trough the view port.  to do this i would need to get the x and y position of the image in relation tho the cropView. I am using this library for cropping image in another section of my app and would like to reuse it for this function as it handles the d

[2016-07-01 22:48] eveliotc commented on #49
We don't use fresco, PRs welcome.

[2016-07-01 22:48] #49 closed

[2016-07-01 23:00] eveliotc commented on #50
That might be the case we don't support runtime permissions at the moment.

[2016-07-01 23:00] eveliotc commented on #55
This is not supported at the moment.

[2016-07-01 23:07] eveliotc commented on #37
This is not supported out of the box you could `extend CropView` and overwrite `onDraw(Canvas)` in a similar fashion as https://github.com/lyft/scissors/pull/15

[2016-07-02 00:23] cuocsongquanhta commented on #37
Thanks so much
On Jul 2, 2016 6:07 AM, "Evelio Tarazona" notifications@github.com wrote:

[2016-07-04 03:46] nshmura commented on #53
I have same problem. Maybe this issue is caused by TouchManager#ensureInsideViewport() method call.
https://github.com/lyft/scissors/blob/master/scissors/src/main/java/com/lyft/android/scissors/TouchManager.java#L95

I sent the pull request #57 .

[2016-07-04 09:48] ZoroYouth commented on #53
@nshmura Good job.I have tried your method and it works well,thank you

[2016-07-19 21:44] jachenry opened #58 "reset transform"
We have a flow requiring multiple images to be selected and cropped. The issue is the CropView's transform sticks around even after loading a new image. Is there a way to reset the transform applied to the CropView before we load the next image?

[2016-07-21 07:38] mhousser commented on #53
@eveliotc can we please accept the fix above and push out a new version? This library is quite broken when all the taken images are not centered by default..

[2016-07-21 18:24] #53 closed

[2016-07-21 18:48] eveliotc commented on #58
@jachenry Please considering loading the images at your convenience and then setting it on the view e.g. `cropView.setImageBitmap(Bitmap);`

[2016-07-21 18:51] eveliotc commented on #53
@mhousser Fix was included for 1.1.1
@nshmura Thanks for the PR, please sign Lyft's CLA https://oss.lyft.com/cla/ to make it possible to incorporate your changes in the future.

[2016-07-21 20:43] mhousser commented on #53
@eveliotc is 1.1.1 available for Gradle inclusion in yet?

i.e. `compile 'com.lyft:scissors:1.1.1'`

[2016-07-21 20:50] mhousser commented on #53
Nevermind, I see now that 1.1.1 is published and I have included it in Android Studio.

It works! Finally this library works very well for me and chosen/taken pictures are centred nicely in the cropping area by default.

[2016-07-22 05:58] nshmura commented on #53
@eveliotc Thank you. I done!

[2016-07-22 15:16] jachenry commented on #58
I forked the repo and recreate the touch manager anytime a new bitmap is set. Thank you for creating this project and the response to my question.

https://github.com/jachenry/scissors/commit/3a06dbd87e883f787614ff4d1f6492951f34ce55

[2016-07-22 15:16] #58 closed

[2016-08-01 08:34] stefi92 opened #60 "White place if crop is max to right"
Hi, I have an issue, when I move image to maximum right and then crop him, there's a white place. Can you help me please?

[2016-08-01 09:00] stefi92 commented on #60
the way how I cropp the image:
`FileOutputStream out = null;
        try {
            out = new FileOutputStream("storage/emulated/0/Pictures/be_reporter_cropp_temp.jpg");
            cropImageView.crop().compress(Bitmap.CompressFormat.PNG, 87, out);
        } catch (Exception e) {
            e.printStackTrace();
        } finally {
            if (out != null) {
                out.close();

[2016-08-16 03:05] soxunyi commented on #33
@nshmura Do best

[2016-10-20 20:13] ihsanbal commented on #9
@rohanmahale this lines solved my rotation problem in CropView
` public void rotate(ROTATE rotation) {

[code]

[2017-01-05 06:59] ggitau opened #68 "Glide and square image"
Hi?
Are there examples showing how to use this library with glide? Also, i want the cropped image to fit into a square of specific dimensions e.g 200px by 200px, how do i achieve that?

[2017-01-08 16:43] konecnyna commented on #32
There is another [request](https://github.com/lyft/scissors/issues/33) for this feature. Would be really nice to have

[2017-01-08 16:46] konecnyna commented on #33
I would love to have this feature too. The way the [current cropping works
](https://github.com/lyft/scissors/blob/d539230875f195c7733336822dc4a6d8a49544e8/scissors/src/main/java/com/lyft/android/scissors/CropView.java#L239-L261) is using the viewport dimensions instead of the original bitmap dimensions.

[code]

It's using the `viewportWidth` to create the cropped bitmap which I would think chang

[2017-01-20 18:06] amardeshbd opened #69 "Android ProGuard config for lyft scissors"
Question: I was wondering if you need to add any **ProGuard** rules to use this library.

FYI: I did find https://github.com/lyft/scissors/blob/master/scissors/proguard-rules.txt - but it contains rules for dependencies.

I'm planning to use following rules, is it sufficient?

[code]

[2017-02-03 09:21] Arbaz75 opened #70 "Change View Port Size"
Hi, How can i set Custom size on view port

[2017-03-26 20:34] vjgonzalez opened #72 "Can I use scissors library to crop an image taken with my camera? <question>"
First of all, this is a question, but sorry, I don't know how to add the label to it.

Hi, from what I've seen, this library is useful to select an image from the fallery and then crop it. Is there a way to open the device's camera, take a picture, and then crop it? If so, can you tell me how?

Thanks!

[2017-03-26 21:17] #72 closed

[2017-04-07 02:41] cheukho opened #75 "How to use CropView with Fresco？"
Hi all，my project  is using Fresco to loading picture. How can i use CropView with Fresco？

[2017-04-15 11:11] jaadchacra commented on #72
How is this closed? Can you post your solution please?

[2017-05-09 23:58] ldiqual opened #76 "GlideBitmapLoader.createUsing uses cropView size"

[2017-05-09 23:58] #76 closed

[2017-05-10 00:01] ldiqual opened #77 "GlideBitmapLoader.createUsing uses cropView's size while it might not be laid out"
The following code:

[code]

won't work if `cropView` is not yet laid out – even with #16 in – because `GlideBitmapLoader.createUsing` directly extracts `cropView.getHeight()` and `cropView.getWidth()`: https://github.com/lyft/scissors/blob/master/scissors/src/main/java/com/lyft/android/scissors/GlideBitmapLoader.java#L57-L61. At this point, cropView's dimension is 0:0.

I worked around this by ad

[2017-05-11 20:22] tildedave commented on #13
Hi there, we are cleaning up the repo.  Sorry for the late response but we don't plan to support this feature at this point.

[2017-05-11 20:22] #13 closed

[2017-05-11 20:22] #1 closed

[2017-05-11 20:25] tildedave commented on #70
Hi there, closing this as it's pretty old.  Feel free to reopen if you're still having this issue.

[2017-05-11 20:25] #70 closed

[2017-05-11 20:25] tildedave commented on #75
Hi there, closing this as it's pretty old.  Feel free to reopen if you're still having this issue.

[2017-05-11 20:25] #75 closed

[2017-05-11 20:25] tildedave commented on #69
Hi there, closing this as it's pretty old.  Feel free to reopen if you're still having this issue.

[2017-05-11 20:25] #69 closed

[2017-05-11 20:25] tildedave commented on #60
Hi there, closing this as it's pretty old.  Feel free to reopen if you're still having this issue.

[2017-05-11 20:25] #60 closed

[2017-05-11 20:26] #50 closed

[2017-05-11 20:26] #37 closed

[2017-05-11 20:26] tildedave commented on #39
Hi there, closing this as it's pretty old.  Feel free to reopen if you're still having this issue.

[2017-05-11 20:26] #39 closed

[2017-05-11 20:27] tildedave commented on #23
Hi there, closing this as it's pretty old.  We aren't planning on supporting this feature at this moment.

[2017-05-11 20:27] #23 closed

[2017-05-11 20:58] #55 closed

[2017-05-11 20:58] tildedave commented on #32
#74 was merged, let me know if this doesn't solve your issue.

[2017-05-11 20:58] #32 closed

[2017-06-22 20:40] boomesh opened #78 "Question: How come CropViewExtensions pickUsing Fragment, is not using the support fragment?"
Hello everyone!

I was wondering why the `pickUsing` relies on a `android.app.Fragment` instead of the support fragment?

[code]

I have my hands tied, as I'm using the v4 support fragment, and using the Activity counterpart is going to be really messy.  Is there any plans to bring in the support functionality?  Or at least is there a suggestion anyone has that I could make use of?

[2017-07-10 08:19] middebugger opened #79 "Is it possible to remove scaling ?"
I'm following your method for cropping.So I would like to remove the scale feature from this method.May I know how I can remove the scaling ?

[2017-07-10 08:20] #79 closed

[2017-09-06 20:17] pablojmuratore opened #80 "Library fails loading images when using Glide v4 and causes exception."
A few months ago Glide 4 has been released and there are some incompatibilities with Glide 3.
In Glide 4, there's an object that needs to be used to pass options when loading an image, as you can see in this link.
[Glide options documentation](http://bumptech.github.io/glide/doc/options.html)

In particular, I'm using the CropView library that ends calling Scissor's load method of the GlideBitmapL

[2017-10-03 20:54] #80 closed

[2017-11-30 18:22] mrgcl opened #85 "Crop to File, cannot access CropViewExtensions"
Trying to crop into file using scissors 1.1.1 and i get the following error when compiling

The code in question is basically the same as the example provided.
[code]

[2018-01-17 14:07] BraisGabin commented on #85
Are you probably using kotlin? You must upgrade to kotlin 1.1+: https://youtrack.jetbrains.com/issue/KT-11398

[2018-01-24 19:14] EricKuck commented on #85
This issue still exists in the latest version of Kotlin (1.2.21). Why is CropViewExtensions package-private in the first place?

Edit: I see it's fixed in 2.0 if you're willing to build it yourself. Even the snapshot repo hasn't been updated since 2016. Hopefully helpful for anyone else who comes across this.

[2018-03-15 09:51] mayojava commented on #85
@EricKuck were you able to solve this problem? I am currently facing this same issue.

[2018-03-15 18:00] EricKuck commented on #85
I found a better supported lib and switched to that. If you're really set on Scissors, you can build it yourself or use something like jitpack to grab it from the repo.

[2018-03-27 23:17] AndroidDeveloperLB opened #87 "Can't import"
I get this:

![image](https://user-images.githubusercontent.com/5357526/37999994-1f1ec1f2-322e-11e8-8009-c0c194ff0ec5.png)

[2018-04-24 22:01] sujan219 opened #88 "Can I get the cropped offsets?"
Hi, is there any way I could get the cropped offset (left and top)?

[2018-05-18 19:48] hspeight opened #89 "Fresco Integration"
My project has a Fresco Drawee for the imageview.
Can I use scissors with this?

[2018-06-18 08:38] frozenex commented on #78
+1

[2018-07-14 01:18] tinder-davidknight opened #90 "Scissors 2 is not available on maven"
can't import scissors 2 using gradle with `com.lyft:scissors:2.0.0-SNAPSHOT`

[2018-09-21 11:07] carlosmuvi commented on #90
Hi @tinder-davidknight !

Until Lyft publishes it, I forked it and you can add the dependency from JitPack:

[code]

[code]

[2018-11-01 05:43] phundal209 opened #96 "Extensions are not compatible in Kotlin"

[2018-11-03 19:53] udaysrinath opened #97 "Scissors 2 not published, support for RxJava2"
- The scissors library version needs to be bumped to 2.0, long due.
- RxJava2 support needs to be added else this block of code in sample https://github.com/lyft/scissors/blob/master/scissors-sample/src/main/java/com/lyft/android/scissorssample/MainActivity.java#L114-L128 does not work. Converting ```Observable.from(..) ``` to ```Observable.fromFuture(..)``` does not seem to function properly.

[2018-11-14 20:38] einschneidend opened #98 "Exception with glide"
Can't make it work with any version of glide

`E/AndroidRuntime: FATAL EXCEPTION: main
    java.lang.NoSuchMethodError: No virtual method load(Ljava/lang/Object;)Lcom/bumptech/glide/DrawableTypeRequest; in class Lcom/bumptech/glide/RequestManager; or its super classes (declaration of 'com.bumptech.glide.RequestManager' appears in /data/app/packageName/base.apk:classes4.dex)
        at com.lyft.and

[2018-12-03 17:31] zuyevpro opened #100 "Exception with Picasso latest (2.71828)"
java.lang.NoSuchMethodError: No static method with(Landroid/content/Context;)Lcom/squareup/picasso/Picasso; in class Lcom/squareup/picasso/Picasso; or its super classes (declaration of 'com.squareup.picasso.Picasso' appears in /data/app/***-HdTn0yGaWHs9Wi7co2c6CQ==/split_lib_dependencies_apk.apk)
        at com.lyft.android.scissors.PicassoBitmapLoader.createUsing(PicassoBitmapLoader.java:66)

[2018-12-03 19:09] zuyevpro opened #101 "Error using with Picasso 2.5.2"
Using Picasso as preloader we can see the bug when Picasso does not apply EXIF data about picture orientation. It can be fixed using Android ExifInterface class and calling Picasso.rotate method.

[2019-01-12 00:47] spadafiva commented on #88
@sujan219 I'm looking to do this too.  Did you end up finding a way to do so?

[2019-01-15 03:01] sujan219 commented on #88
Hi @spadafiva,
I ended up using cropView.getTransformation().getCrop() method.

[2019-01-15 05:01] spadafiva commented on #88
Thanks @sujan219, I'll take a look at that

[2019-02-12 14:34] spadafiva commented on #88
@sujan219 I've been working on and off for this and it looks like I can use (kotlin) `cropImageView.transformMatrix`, but I can't find the `transformation.crop` that you're talking about.

How would I go about converting a matrix to get the offset?

[2019-03-29 20:27] eygraber opened #102 "AndroidX"
Please update to use androidx dependencies. This library is the only thing preventing us from turning off jetifier.

[2019-04-07 18:40] rishirajput opened #103 "How to check if image has been cropped/modified ?"
Hi,
Unable to check whether the image has been cropped or not.
Both the cropped and uncropped image bitmaps have same widht and height (as viewport size is fixed on crop page) but they differ in pixels.

Tried using bitmap sameAs() to compare crop() (cropped bitmap returned) and getImageBitmap() (image source bitmap),
even though I don't perform any cropping on the image, cropped and source image

[2019-07-28 21:45] dri94 commented on #85
@EricKuck what lib did you switch to?

[2019-12-05 06:06] Neil1484 opened #104 "Select image not load into crop view"
**Can't load this image into Crop**
It show some dependence on the Glide image loading library.

ava.lang.NoSuchMethodError: No direct method <init>(Lcom/bumptech/glide/load/engine/bitmap_recycle/BitmapPool;)V in class Lcom/bumptech/glide/load/resource/bitmap/BitmapTransformation; or its super classes (declaration of 'com.bumptech.glide.load.resource.bitmap.BitmapTransformation' appears in /data/a

[2020-01-03 16:24] Mihir3646 commented on #100
Did you get any solution? My working code is now not working and getting a crash in live app.

[2020-01-12 20:25] zuyevpro commented on #100
I've downgraded Picasso to version 2.5.2

[2021-05-20 19:16] #90 closed

[2021-10-08 22:14] dschaller commented on #2
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:14] #2 closed

[2021-10-08 22:14] dschaller commented on #9
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:14] #9 closed

[2021-10-08 22:14] dschaller commented on #12
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:14] dschaller commented on #26
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:14] dschaller commented on #33
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:14] #33 closed

[2021-10-08 22:14] dschaller commented on #36
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:14] #36 closed

[2021-10-08 22:14] dschaller commented on #38
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:14] #38 closed

[2021-10-08 22:15] dschaller commented on #54
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:15] dschaller commented on #68
Thank you for you contribution to this repository.

Closing this contribution as this repository is being archived.

[2021-10-08 22:15] #68 closed

[2021-10-08 22:15] mikecutalo commented on #104
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:15] mikecutalo commented on #103
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:15] #103 closed

[2021-10-08 22:15] mikecutalo commented on #102
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:15] #102 closed

[2021-10-08 22:15] mikecutalo commented on #101
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:15] #101 closed

[2021-10-08 22:16] mikecutalo commented on #100
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:16] mikecutalo commented on #98
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:16] mikecutalo commented on #97
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:16] #97 closed

[2021-10-08 22:16] mikecutalo commented on #96
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:16] #96 closed

[2021-10-08 22:16] mikecutalo commented on #89
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:16] mikecutalo commented on #88
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:16] #88 closed

[2021-10-08 22:16] mikecutalo commented on #87
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:17] mikecutalo commented on #85
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:17] mikecutalo commented on #78
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.

[2021-10-08 22:17] #78 closed

[2021-10-08 22:17] mikecutalo commented on #77
Thank you for you contribution to this repository.

Closing this Issue as this repository is being archived.